.Home-page{
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    flex-direction: column;
}
.DrawerButton{
    position: relative;
    height: 50px;
        width: 100px;
        color: aliceblue;
        background-color: #225950;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.Home-Image{
    position: relative;
   
}

.Home-Image::after{
    position: absolute;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(12, 12, 12, 0.56) 43.75%, rgba(12, 12, 12, 1) 100%);
width: 100%;
height: 100%;
top: 0;
left: 0;
content: "";
}
.Home-style {
    display: flex;
    justify-content: center;
    margin-top: -32px;
        z-index: 1;
    }

/* .Home-filter-menu {
    background-color: rgba(12, 12, 12, 1);
    width: 250px;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: 850ms;
} */
.Home-grid{
    
    align-self: flex-end;
   
}